<style>
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      width: 250px;
      border-radius: 200px;
    }
    
    .button1 {background-color: #4CAF50;} /* Green */
    .button2 {background-color: #f10d0d;} /* Red */
    .button3 {background-color: #008CBA;} /* Blue */
</style>

<div>
    <button class="button button1" onclick=" window.open('','_blank')">
         ORDER ONLINE
    </button>
</div>

<div>
    <button class="button button2" onclick=" window.open('','_blank')">
         UBER EATS
    </button>
</div>

<div>
    <button class="button button3" onclick=" window.open('','_blank')">
        DOOR DASH
    </button>
</div>